.menu {

  .overlayMenu {
    position: fixed;
    z-index: 999999;
    padding: 56px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: none;
    opacity: 0;
    transition: all 1s ease-out;

    &.opened {
      display: flex;
      flex-flow: column;
      opacity: 1;
      justify-content: space-between;
    }

    .menuHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  .menuItems {
    display: flex;
    flex-flow: column;
    gap: 16px;
    color: #141414;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    .active {
      background: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a:hover {
      background: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .manuFooter {
    color: #57656F;
    font-family: "Helvetica Neue", Oswald;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}



@media screen and (max-width: 767px) {
  .menu {
    .menuItems {
      font-size: 36px;
    }
  }
}