section {
  color: #141414;
  font-family: Oswald;
}

.daoText {
  color: #57656F;
  font-family: "Source Sans Pro", 'Open Sans', sans-serif, Oswald;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 6px;
  position: 'absolute';
  text-transform: uppercase;
  left: '50%';
  transform: 'translateX(-50%)';
}

.daoButton { 
  display: inline-flex;
  gap: 8px;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border: 2px solid #57656F;
  background: #E6FBF6;
  cursor: pointer;
  color: #57656F;
  font-family: "Open Sans";
  font-size: 14px;
}

.hero-text {
  font-family: Oswald;
  font-size: 16vw;
  font-weight: 700;
  line-height: 16vw;
  text-align: center;
  color: #EFFFEEBF;
}

.itemsSection {
  width: 100%;
  max-width: 926px;
  margin: 0 auto;

  .smallContainer {
    width: 100%;
    max-width: 454px;
    margin: 0 auto;

    h2 {
      font-family: Oswald;
      font-size: 120px;
      font-weight: 600;
      line-height: 120px;
      text-align: center;
    }

    p {
      font-family: "Open Sans", sans-serif, Oswald;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      color: #57656F;
    }
  }
}

.discoverSection {
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;

  h4 {
    font-family: "Open Sans", Oswald;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    background: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: "Open Sans", Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }

  a {
    font-family: "Open Sans", Oswald;
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: center;

    border-bottom: 1px solid;
    border-image: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%) 1;
  }
}

footer {
  font-family: "Open Sans", Oswald;
  font-size: 10px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #57656F;
}

.backButton {
  color: #57656F;
  font-family: "Source Sans Pro", Oswald;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.article {
  padding: 50px;
  @media screen and (max-width: 768px) {
    padding: 24px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  h2 {
    // max-width: 454px;
    color: #141414;
    text-align: center;
    font-family: Oswald;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;

    @media screen and (max-width: 768px) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  p {
    // max-width: 454px;
    padding: 0 50px;
    color: #57656F;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }
  }

  h3 {
    max-width: 454px;
    background: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%);
    margin-top: 32px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Oswald;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;

  }

  h4 {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000000;
  }

}

@media screen and (max-width: 768px) {
  .itemsSection {
    h2 {
      font-size: 36px;
      line-height: 36px;
    }

    .smallContainer {
      h2 {
        font-size: 36px;
        line-height: 36px;
      }
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

/* The progress container (grey background) */
.progress-container {
  position: sticky;
  border-radius: 2px;
  left: 60px;
  top: calc(50% - 105px);
  height: 210px;
  width: 4px;
  background: #ffffff;
 
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/* The progress bar (scroll indicator) */
.progress-bar {
  width: 4px;
  border-radius: 2px;
  background: linear-gradient(71.42deg, #23AED3 4.1%, #73B655 101.68%);
  height: 0%;
}

.progress-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -3px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #000000;
  }
}

.container-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


// INFINITE CAROUSSEL

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.caroussel {
  overflow: hidden;
  padding: 32px 0;
  background: linear-gradient(71.42deg, #23add33d 4.1%, #74b65541 101.68%);
  white-space: nowrap;
  position: relative;
}

.caroussel:before,
.caroussel:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;

  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.caroussel:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #edf6ec);
}

.caroussel:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #e0f3de);
}

.caroussel:hover .caroussel-slide {
  animation-play-state: paused;
}

.caroussel-slide {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.caroussel-slide div {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  color: white;
  font-size: 42px;
  margin: 0 30px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    margin: 0 10px;
  }
}